/*--/ BODY /--*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*--/ HEADER /--*/
header {
    background-color: #f0d540f6;
    color: #272727;
    transition: background-color 1s, color 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

header:hover {
    background-color: #272727;
    color: #F7F7F7;
}

/* header-title */
.header-title {
    transition: background-color 1s, color 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
    color: #272727;
}

.header-title:hover {
    color: #F7F7F7;
}

/* img-logo */
.img-logo {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

/* img-logo -> agitar */
.agitacion {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }
}



/*--/ MAIN /--*/
main {
    /* Permite que el contenido principal ocupe el espacio restante */
    flex: 1;
}

/* Cards */
.custom-card-title {
    font-size: 16px;
}

.custom-card-text {
    font-size: 14px;

}


/*--/ FOOTER /--*/
footer {
    background-color: #f0d540f6;
    color: #272727;
    transition: background-color 1s, color 1s cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

footer:hover {
    background-color: #272727;
    color: #F7F7F7;
}

/* footer div */
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div p {
    margin: 0;
}

.p1 {
    padding-right: 2px;
}

.p2 {
    padding-left: 2px;
}

/*--/ MEDIA QUERY/--*/

/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {

    footer div {
        flex-direction: column;
    }
}